<div class='container' id='signupBanner'>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Welcome, user!</h1>
    </div>
  </div>
</div>
<div class='container' id='marginTop'>
  <%= link_to("/products/add") do%>
    <button type="button" class="btn btn-primary btn-lg btn-block" style='margin-bottom:1vh;'>Add a product</button>
  <%end%>
  <%= link_to("/products/shop") do%>
  <button type="button" class="btn btn-primary btn-lg btn-block" style='margin-bottom:1vh;'>Shop</button>
  <%end%>
  <%= link_to("/orders/list") do%>
  <button type="button" class="btn btn-primary btn-lg btn-block" style='margin-bottom:1vh;'>My orders</button>
  <%end%>
  <% if @current_user.admin == true %>
  <%= link_to("/admin/credit") do%>
  <button type="button" class="btn btn-primary btn-lg btn-block" style='margin-bottom:1vh;'>Credit a user</button>
  <%end%>
  <% end %>
  <%= link_to("/logout",{method:"post"}) do%>
  <button type="button" class="btn btn-danger btn-lg btn-block">Log out</button>
  <%end%>
</div>
