<div class='container' id='signupBanner'>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">My Orders</h1>
    </div>
  </div>
</div>
<div class='container'>
  <% @orders.each do |order| %>
    <% product = Product.find_by(id: order.product_id)%>
    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4" style='border:1px solid black;'>
          <%= image_tag("/assets/product_images/#{product.image}",class:"card-img",style:"display: inline-block;height: 100%;vertical-align: middle;") %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><b>Description</b>:<%=" #{product.description}"%></p>
            <p class="card-text"><b>Cost</b>: &#x20b9;<%="#{product.cost}"%></p>
            <p class="card-text"><b>Bought at</b>: <%="#{order.created_at}"%></p>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
